 
 * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
 #sec1{
    width: 100%;
    height: 100vh;
    background-image: url(./img/pro.png);
    display: flex;
    background-size: cover;
    background-position: center;
  }
  .sectionPortfolio{
    width: 100%;
    height: 110vh;
    background-image: url(./img/fond3.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
#monPrenom{
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

/*--------------------------------------------------SECTION PORTFOLIO----------------------------------------------*/
  .titrePortfolio{
    font-size: 100px;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }
  
    .projet{
        width: 250px;
        height: 250px;
        border-radius: 3%;
        color: black;
        background-color: rgb(255, 255, 255);
        border: 4px solid black;
        box-shadow: 4px 4px 0 0 black;
    
      }
      #a:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #ff00aa,
          inset 0 0 16px #ff00aa, 0 0 32px #ff00aa, inset 0 0 32px #ff00aa;
      }
      #b:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #ff9203,
          inset 0 0 16px #ff9203, 0 0 32px #ff9203, inset 0 0 32px #ff9203;
      }
      #c:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #ffffff,
          inset 0 0 16px #ffffff, 0 0 32px #ffffff, inset 0 0 32px #ffffff;
      }
      #d:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #ff0000,
          inset 0 0 16px #ff0000, 0 0 32px #ff0000, inset 0 0 32px #ff0000;
      }
      #e:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #0325ff,
          inset 0 0 16px #0325ff, 0 0 32px #0325ff, inset 0 0 32px #0325ff;
      }
      #f:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #fff703,
          inset 0 0 16px #fff703, 0 0 32px #fff703, inset 0 0 32px #fff703;
      }
      #g:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #2fff00,
          inset 0 0 16px #2fff00, 0 0 32px #2fff00, inset 0 0 32px #2fff00;
      }
      #h:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #a600ff,
          inset 0 0 16px #a600ff, 0 0 32px #a600ff, inset 0 0 32px #a600ff;
      }
      #i:hover {
        border: 4px solid #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #00ffff,
          inset 0 0 16px #00ffff, 0 0 32px #00ffff, inset 0 0 32px #00ffff;
      }
  

  /*------------------------------------------------ SECTION SERVICE ----------------------------------------------*/
  .sectionService {
    width: 100%;
    height: 110vh;
    background-image: url(./img/fond7.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .titreMesServices{
    margin-bottom: 100px;
    font-size: 100px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 170, 0), 0 0 82px rgb(255, 170, 0),
    0 0 92px rgb(255, 170, 0), 0 0 102px rgb(255, 170, 0),
    0 0 151px rgb(255, 170, 0);
}
.projet2{
  width: 250px;
  height: 250px;
  border-radius: 3%;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 4px solid black;
  box-shadow: 4px 4px 0 0 black;
  margin-bottom: 350px;

}
#j:hover {
  border: 4px solid #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #00ffff,
    inset 0 0 16px #00ffff, 0 0 32px #00ffff, inset 0 0 32px #00ffff;
}
#k:hover {
  border: 4px solid #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #00ffff,
    inset 0 0 16px #00ffff, 0 0 32px #00ffff, inset 0 0 32px #00ffff;
}
#l:hover {
  border: 4px solid #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #00ffff,
    inset 0 0 16px #00ffff, 0 0 32px #00ffff, inset 0 0 32px #00ffff;
}
  /*------------------------------------------------ A PROPOS ----------------------------------------------*/
  .sectionApropos {
    width: 100%;
    height: 110vh;
    background-image: url(./img/fond8.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
  }
  .titreApropos{
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(170, 0, 255), 0 0 82px rgb(170, 0, 255),
    0 0 92px rgb(255, 170, 0), 0 0 102px rgb(255, 170, 0),
    0 0 151px rgb(255, 170, 0); 
}



  /*------------------------------------------------ SECTION CONTACT ----------------------------------------------*/
  .sectionContact {
    width: 100%;
    height: 100vh;
    background-image: url(./img/fond12.jpg);
    background-size: cover;
    background-position: center;
  }
  .Apropos {
    padding-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6%;
    right: 1px;
  }
  .cv {
    height: 560px;
    width: 1055px;
    border: solid 1px black;
    border-radius: 3% 0% 0% 0%;
    background-color: rgb(115, 0, 255);
    opacity: 40%;

  }
  .textCv {
    
    color: white;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
      0 0 42px rgb(170, 0, 255), 0 0 82px rgb(170, 0, 255),
      0 0 92px rgb(255, 170, 0), 0 0 102px rgb(255, 170, 0),
      0 0 151px rgb(255, 170, 0);
  }
  .imgCv {
    height: 560px;
    width: 370px;
    border-radius: 0% 3% 3% 0%;
  }
  .formContact{
    height: 100px;
    width: 100px;
  }